<div class="separacion"> 
  <ion-list class="borde">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="4" offset="4">
          <div class="form-container">
            <ion-item>
              <ion-label position="floating">Agregar Licenciatura</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            </div>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="onClick()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</div>