<div id="Sitio_Nav" class="clearfix" role="contentinfo">
  <ion-footer class="pie_p">
    <div>
      <div class="contenedor_footer">
        <button class="Idioma" aria-label="Cambiar Idioma" type="button" href="#">Español</button>
        <div class="content">
          <nav role="navigation" class="Navegacion">
            <ul class="display_in_line">
              <li class="divisor_vertical_3">
                <span class="aho_n">
                  <label for="Name_alumno">Luis Alfredo</label>
                </span>
              </li>
              <li class="divisor_vertical_3">
                  <label for="Apellido_P">Vergara</label>
              </li>
              <li class="divisor_vertical_3">
                  <label for="Apellido_M">Muñoz</label>
              </li>
              <li class="divisor_vertical_3">
                  <label for="Grupo">5801</label>
              </li>
              <li class="divisor_vertical_3">
                  <label for="Asignatura">B.D. para Dispositivos Moviles</label>
              </li>
                  <button type="button" class="Schoology" href="#" [routerLink]="['../home']">Schoology © 2022</button>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </ion-footer>
</div>